<nav>
  <ul class="nav">
    <li><a href="/">Blogs</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/form">New Blog</a></li>
  </ul>

  <!-- <div class="site-title">
        <a href="/">
            <i class="fa fa-home" style="font-size:48px;color: black;"></i>
        </a>
    </div> -->
</nav>
