<html lang="en">

<%- include('./partials/head.ejs')  %>

<style>
    .button {
        color: red;
        background-color: antiquewhite;
    }


</style>

<body>
    <%- include('./partials/nav.ejs')  %>


    <%- include('./partials/create.ejs')  %>


    <%- include('./partials/footer.ejs')  %>

</body>

</html>