<footer>
    copyright &copy; Ramtin-pageHome
    <p>If you need more information, please contact us :</p>
    <p class="footer">
        https://github.com/Ramtindoc ||
        www.linkedin.com/in/ramtin-hasanzadeh ||
        Telegram :@ramtin-hd2</p>
</footer>